.sidenav-container {
  height: 100%;
}

.sidenav {
  width: auto;
  background-color: #003ef3;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
}