<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <a mat-list-item [routerLink]="['/organizers-menu/welcome']">
        <h3 style="color: rgb(255, 255, 255)">Menú de Organizador</h3>
      </a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/organizers-menu/tournaments']">
        <h3 style="color: rgb(255, 255, 255)">Tus torneos</h3>
      </a>
      <a mat-list-item [routerLink]="['/organizers-menu/events']">
        <h3 style="color: rgb(255, 255, 255)">Tus eventos</h3>
      </a>
      <a mat-list-item [routerLink]="['/organizers-menu/register-tournament']">
        <h3 style="color: rgb(255, 255, 255)">Crear un torneo</h3>
      </a>
      <a mat-list-item [routerLink]="['/organizers-menu/register-event']">
        <h3 style="color: rgb(255, 255, 255)">Crear un evento</h3>
      </a>
      <a mat-list-item [routerLink]="['/organizers-menu/profile']">
        <h3 style="color: rgb(255, 255, 255)">Ver tus datos</h3>
      </a>
      <a mat-list-item (click)="logout()">
        <h3 style="color: rgb(255, 255, 255)">Cerrar sesión</h3>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
