:host {
  flex: layout;
  flex-direction: row;
  align-items: center;
}
.header{
  justify-content: center;
}
.form{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 2%;
  margin-left: 35%;
}

.button{
  align-items: center;
  justify-content: center;
}

.errors{
  color: red;
}