<mat-card>
  <mat-card-header class="header">
    <mat-card-title>Darse de alta como organizador</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="form">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput formControlName="username" />
        <mat-error *ngIf="form.controls['username'].hasError('required')">
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" />
        <mat-error *ngIf="form.controls['password'].hasError('required')">
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
        <mat-error *ngIf="form.controls['password'].hasError('minlength')">
          <p class="errors">La contraseña debe tener al menos 6 caracteres</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>Repite tu contraseña</mat-label>
        <input matInput formControlName="passwordConfirm" />
        <mat-error
          *ngIf="form.controls['passwordConfirm'].hasError('required')"
        >
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
        <mat-error
          *ngIf="form.controls['passwordConfirm'].hasError('passwordCheck')"
        >
          <p class="errors">Las contraseñas deben coincidir</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>DNI/NIE</mat-label>
        <input matInput formControlName="nif" placeholder="12345678X" />
        <mat-error *ngIf="form.controls['nif'].hasError('required')">
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
        <mat-error *ngIf="form.controls['nif'].hasError('pattern')">
          <p class="errors">El formato del DNI/NIE no es correcto</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          formControlName="email"
          placeholder="example@mail.com"
        />
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('email')">
          <p class="errors">El formato del correo es incorrecto</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="first_name" />
        <mat-error *ngIf="form.controls['first_name'].hasError('pattern')">
          <p class="errors">El formato no es correcto</p>
        </mat-error>
        <mat-error *ngIf="form.controls['first_name'].hasError('required')">
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="last_name" />
        <mat-error *ngIf="form.controls['last_name'].hasError('pattern')">
          <p class="errors">El formato no es correcto</p>
        </mat-error>
        <mat-error *ngIf="form.controls['last_name'].hasError('required')">
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form">
        <mat-label>Nombre de la compañia</mat-label>
        <input
          matInput
          formControlName="company"
          placeholder="Nombre de la compañia"
        />
        <mat-error *ngIf="form.controls['company'].hasError('company')">
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form">
        <mat-label>Direccion de la compañia</mat-label>
        <input
          matInput
          formControlName="address"
          placeholder="Direccion de la compañia"
        />
        <mat-error *ngIf="form.controls['address'].hasError('address')">
          <p class="errors">Este campo es obligatorio</p>
        </mat-error>
      </mat-form-field>
      <mat-card-actions class="button">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!form.valid"
          (click)="ngOnSubmit()"
        >
          Registrate
        </button>
        <button mat-raised-button color="primary" (click)="clearForm()">
          Borrar campos
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="back()"
        >
          Volver al login
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
