<mat-card-header class="header">
  <mat-card-title>
    <div class="header-text">
      <p>Listas de seguimiento</p>
    </div>
  </mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<div>
  <mat-form-field class="select">
    <mat-label>Estado</mat-label>
    <mat-select
      [formControl]="selected"
      (selectionChange)="
        selectState($event.value.value, $event.value.viewValue)
      "
      placeholder=""
    >
      <mat-option *ngFor="let state of states" [value]="state">
        {{ state.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-paginator
    [length]="watchlists_saved.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 8, 12]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
<mat-grid-list cols="4" rowHeight="800px">
  <mat-grid-tile *ngFor="let watchlist of obs | async">
    <mat-card class="card">
      <mat-card-content>
        <div class="column">
          <div class="row">
            <mat-label class="title">Nombre del usuario</mat-label>
            <p class="text">{{ watchlist.athlete_name }}</p>
          </div>
          <div class="row">
            <mat-label class="title">Nombre</mat-label>
            <p class="text">{{ watchlist.tournament_name }}</p>
          </div>
          <div class="row">
            <mat-label class="title">Ubicacion</mat-label>
            <p class="text">{{ watchlist.tournament_location }}</p>
          </div>
          <div class="row">
            <mat-label class="title">Direccion</mat-label>
            <p class="text">{{ watchlist.tournament_address }}</p>
          </div>
          <div class="row" *ngIf="watchlist.tournament_inscription">
            <mat-label class="title">Aforo</mat-label>
            <p class="text">{{ watchlist.tournament_capacity }}</p>
          </div>
          <div class="row">
            <mat-label class="title">Organizador</mat-label>
            <p class="text">{{ watchlist.tournament_organizer }}</p>
          </div>
          <div class="row">
            <mat-label class="title">Deporte</mat-label>
            <p class="text">{{ watchlist.tournament_sport_type }}</p>
          </div>
          <div class="row">
            <mat-label class="title">Estado</mat-label>
            <p *ngIf="watchlist.enabled" class="text">Activo</p>
            <p *ngIf="!watchlist.enabled" class="text">Inactivo</p>
          </div>
        </div>
        <mat-card-actions class="button">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="changeStateWatchlist(watchlist)"
          >
            <p *ngIf="watchlist.enabled">Desactivar</p>
            <p *ngIf="!watchlist.enabled">Activar</p>
          </button>
          <button
            class="button-right"
            mat-raised-button
            color="primary"
            type="submit"
            (click)="deleteWatchlist(watchlist)"
          >
            Borrar entrada de lista de seguimiento
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
