.sidenav-container {
  top:64px;
  height: 100%;
  width: 100%;
  position: fixed;
}

.sidenav {
  width: auto;
  background-color: #003ef3;
  color: white;
  display: flex;
  margin-top: 64px;
  position: fixed;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: white;
}

.items {
  color: white;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  color: white;
}