.espaciado {
  flex: 1 1 auto;
}

.toolbar{
  top: 0;
  left: 0;
  position: fixed;
  background-color: #003ef3;
}

.texto{
  color: white;
}

img{
  object-fit:contain;
  width: 10%;
  height: 100%;
}

img:hover {
  cursor: pointer;
}