<mat-toolbar class="toolbar">
  <a class="texto" [routerLink]="['/login']">SPM</a>
  <span class="espaciado"></span>
  <mat-menu #menu="matMenu" id="menu">
    <button mat-menu-item routerLink="/about-us">
      <mat-icon>info</mat-icon>
      <span>About us</span>
    </button>
    <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/login">
      <mat-icon>login</mat-icon>
      <span>Login</span>
    </button>
    <button *ngIf="!isLoggedIn" mat-menu-item routerLink="/register">
      <mat-icon>person_add</mat-icon>
      <span>Register</span>
    </button>
    <button
      *ngIf="isLoggedIn"
      mat-menu-item
      routerLink="/login"
      (click)="logout()"
    >
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>

  <img [matMenuTriggerFor]="menu" src="favicon.ico" />
</mat-toolbar>
