mat-card{
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}

.card{
  margin-top: 100px;
}

mat-card-content{
  text-align: justify;
}


.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item{
  flex: 1 1 200px;
  margin: 10px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}