<div>
  <app-toolbar></app-toolbar>
</div>
<mat-card class="card">
  <mat-card-title>
    <h1>¿Que es este proyecto?</h1>
  </mat-card-title>
  <mat-card-content class="flex-container">
    <p class="flex-item">
      Es una aplicacion de eventos deportivos, para un trabajo de fin de grado.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    <h1>Aplicación de gestion de eventos deportivos</h1>
  </mat-card-title>
  <mat-card-content>
    <p>
      El objetivo del proyecto es ofrecer una aplicación de gestión de eventos
      deportivos en el ambito nacional español, en el que los usarios puedan
      consultar eventos creados por sus organizadores.
    </p>
    <p>
      La aplicación se basa en 3 roles para los usuarios: Deportistas,
      Organizadores y Administradores de la aplicacion. Cada usuario tiene
      limitada las operaciones permitidas a aquellas que le corresponden por su
      rol, ya sea en esta web o en la api.
    </p>
    <p>
      Los organizadores y deportistas pueden registrarse en la aplicación. Los
      organizadores pueden crear eventos, mientras que los deportistas pueden
      inscribirse en los eventos creados por los organizadores.
    </p>
    <p>
      Los deportistas pueden consultar los eventos disponibles en la aplicación
      y filtrarlos por deporte, lugar, encontrado. Una vez encontrado un evento
      de su interés, el deportista puede añadir dicho evento a su lista de
      eventos favoritos, para poder consultarlos más tarde.
    </p>
    <p>
      Los organizadores pueden consultar los eventos que han creado, así como
      los deportistas que se han inscrito en cada uno de ellos. Además, pueden
      crear nuevos eventos, modificar los existentes y eliminarlos.
    </p>
    <p>
      Los administradores pueden consultar todos los eventos de la aplicación,
      así como los usuarios registrados en la misma. Además, pueden eliminar
      eventos y usuarios, ademas de poder crear los tipos de deporte que se
      pueden seleccionar al crear un evento.
    </p>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>
    <h1>Equipo de desarrollo</h1>
  </mat-card-title>
  <mat-card-content class="grid-container">
    <mat-card>
      <mat-card-title>
        <h2>Rubén Minero Lorenzo</h2>
      </mat-card-title>
      <mat-card-content>
        <h4>Desarrollador Full-Stack</h4>
        <p>
          Desarrollador Full-Stack de la aplicación, encargado de la
          creacion,securizacion y mantenimiento de la API; ademas de la creacion
          de la aplicacion web.
        </p>
        <mat-card-footer>
          <a href="https://www.linkedin.com/in/rubenminerolorenzo/"
            ><mat-icon>linkedIn</mat-icon></a
          >
          <a href="https://github.com/rubenminero"
            ><mat-icon>GitHub</mat-icon></a
          >
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
