<mat-card-header class="header">
  <mat-card-title>
    <div class="header-text">
      <p>Inscripciones</p>
    </div>
  </mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<div>
  <mat-paginator
    [length]="inscriptions_saved.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 8, 12]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
<mat-grid-list cols="4" rowHeight="800px">
  <mat-grid-tile *ngFor="let inscription of obs | async">
    <mat-card class="card">
      <mat-card-content>
        <div class="column">
          <div class="row">
            <mat-label class="title">Usuario</mat-label>
            <p class="text">{{ inscription.athlete }}</p>
          </div>
          <div class="row">
            <mat-label class="title">Nombre del torneo</mat-label>
            <p class="text">{{ inscription.tournament }}</p>
          </div>
        </div>
        <mat-card-actions class="button">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            (click)="deleteInscription(inscription)"
          >
            Borrar inscripcion del usuario
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
