<ng-container *ngIf="!tournament_show; else tournament_data">
  <mat-card-header class="header">
    <mat-card-title>
      <div class="header-text">
        <p>Tus torneos</p>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-paginator
    [length]="tournaments_saved.length"
    [pageSize]="3"
    [pageSizeOptions]="[3, 6, 9, 12]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
  <mat-card class="event-card" *ngFor="let tournament of obs | async">
    <mat-card-content class="event">
      <div class="row">
        <div class="block">
          <mat-label class="title">Nombre</mat-label>
          <p class="text">{{ tournament.name }}</p>
        </div>
        <div class="block">
          <mat-label class="title">Ubicacion</mat-label>
          <p class="text">{{ tournament.location }}</p>
        </div>
        <div class="block">
          <mat-label class="title">Direccion</mat-label>
          <p class="text">{{ tournament.address }}</p>
        </div>
        <div class="block">
          <mat-label class="title">Aforo</mat-label>
          <p class="text">{{ tournament.capacity }}</p>
        </div>
        <div class="block">
          <mat-label class="title">Organizador</mat-label>
          <p class="text">{{ tournament.organizer }}</p>
        </div>
        <div class="block">
          <mat-label class="title">Deporte</mat-label>
          <p class="text">{{ tournament.sport_type }}</p>
        </div>
      </div>
      <mat-card-actions>
        <button
          class="button"
          mat-raised-button
          color="primary"
          type="submit"
          (click)="deleteTournament(tournament)"
        >
          Borrar torneo
        </button>
        <button
          class="button"
          mat-raised-button
          color="primary"
          (click)="watchInscriptions(tournament)"
        >
          Inscripciones del torneo
        </button>
        <button
          class="button"
          mat-raised-button
          color="primary"
          (click)="openTournament(tournament)"
        >
          Ver mas
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #tournament_data>
  <ng-container *ngIf="!tournament_inscriptions">
    <mat-card>
      <mat-card-header class="header">
        <mat-card-title>
          <div class="header-text">
            <p>Datos del torneo</p>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <app-tournament-card
        [tournament]="this.tournament"
        [admin]="true"
      ></app-tournament-card>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="tournament_inscriptions">
    <app-inscriptions-organizer
      [tournament]="this.tournament"
    ></app-inscriptions-organizer>
  </ng-container>
</ng-template>
