<ng-container *ngIf="!event_show; else event_data">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header">
          <p>Eventos disponibles</p>
        </div>
        <mat-paginator
          [length]="events_saved.length"
          [pageSize]="3"
          [pageSizeOptions]="[3, 6, 9, 12]"
          [showFirstLastButtons]="true"
        >
        </mat-paginator>
        <mat-card class="event-card" *ngFor="let event of obs | async">
          <mat-card-content class="event">
            <div class="row">
              <div class="block">
                <mat-label class="title">Nombre</mat-label>
                <p class="text">{{ event.name }}</p>
              </div>
              <div class="block">
                <mat-label class="title">Ubicacion</mat-label>
                <p class="text">{{ event.location }}</p>
              </div>
              <div class="block">
                <mat-label class="title">Direccion</mat-label>
                <p class="text">{{ event.address }}</p>
              </div>
              <div class="block">
                <mat-label class="title">Organizador</mat-label>
                <p class="text">{{ event.organizer_name }}</p>
              </div>
              <div class="block">
                <mat-label class="title">Deporte</mat-label>
                <p class="text">{{ event.sport_type_name }}</p>
              </div>
            </div>
            <mat-card-actions>
              <button
                class="button"
                mat-raised-button
                color="primary"
                type="submit"
                (click)="saveWatchlist(event)"
              >
                Guardar el evento en mi lista
              </button>
              <button
                class="button"
                mat-raised-button
                color="primary"
                type="submit"
                (click)="openEvent(event)"
              >
                Ver mas
              </button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #event_data>
  <mat-card>
    <mat-card-header class="header">
      <mat-card-title>
        <div class="header-text">
          <p>Datos del evento</p>
        </div>
      </mat-card-title>
    </mat-card-header>
    <app-event-card [event]="this.event"></app-event-card>
  </mat-card>
</ng-template>
