<mat-card-header class="header">
  <mat-card-title>
    <div class="header-text">
      <p>Tipos de deporte</p>
    </div>
  </mat-card-title>
</mat-card-header>
<mat-divider></mat-divider>
<div>
  <mat-form-field class="select">
    <mat-label>Estado</mat-label>
    <mat-select
      [formControl]="selected"
      (selectionChange)="
        selectState($event.value.value, $event.value.viewValue)
      "
      placeholder=""
    >
      <mat-option *ngFor="let state of states" [value]="state">
        {{ state.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-paginator
    [length]="sport_types_saved.length"
    [pageSize]="4"
    [pageSizeOptions]="[4, 8, 12]"
    [showFirstLastButtons]="true"
  >
  </mat-paginator>
</div>
<mat-grid-list cols="4" rowHeight="800px">
  <mat-grid-tile *ngFor="let sport_type of obs | async">
    <mat-card class="card">
      <mat-card-content>
        <div class="column">
          <div class="row">
            <mat-label class="title">Nombre de deporte</mat-label>
            <p class="text">{{ sport_type.name }}</p>
          </div>
          <div class="row">
            <mat-label class="title">Activo</mat-label>
            <p *ngIf="sport_type.enabled" class="text">Si</p>
            <p *ngIf="!sport_type.enabled" class="text">No</p>
          </div>
        </div>
        <mat-card-actions class="button">
          <button
            mat-raised-button
            color="primary"
            (click)="changeStateSportType(sport_type)"
          >
            <p *ngIf="sport_type.enabled">Desactivar</p>
            <p *ngIf="!sport_type.enabled">Activar</p>
          </button>
          <button
            class="button-right"
            mat-raised-button
            color="primary"
            (click)="deleteSportType(sport_type)"
          >
            Borrar tipo de deporte
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
