<mat-card-content>
  <mat-card-header class="header">
    <mat-card-title>
      <div class="header-text">
        <p>Datos del usuario</p>
      </div>
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="form">
    <mat-form-field class="form">
      <mat-label>Nombre de usuario</mat-label>
      <input matInput formControlName="username" />
      <mat-error *ngIf="form.controls['username'].hasError('required')">
        <p class="errors">Este campo es obligatorio</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
      <mat-label>DNI/NIE</mat-label>
      <input matInput formControlName="nif" placeholder="12345678-X" />
      <mat-error *ngIf="form.controls['nif'].hasError('required')">
        <p class="errors">Este campo es obligatorio</p>
      </mat-error>
      <mat-error *ngIf="form.controls['nif'].hasError('pattern')">
        <p class="errors">El formato del DNI/NIE no es correcto</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
      <mat-label>Correo electrónico</mat-label>
      <input matInput formControlName="email" placeholder="example@mail.com" />
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        <p class="errors">Este campo es obligatorio</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="first_name" />
      <mat-error *ngIf="form.controls['first_name'].hasError('pattern')">
        <p class="errors">El formato no es correcto</p>
      </mat-error>
      <mat-error *ngIf="form.controls['first_name'].hasError('required')">
        <p class="errors">Este campo es obligatorio</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
      <mat-label>Apellidos</mat-label>
      <input matInput formControlName="last_name" />
      <mat-error *ngIf="form.controls['last_name'].hasError('pattern')">
        <p class="errors">El formato no es correcto</p>
      </mat-error>
      <mat-error *ngIf="form.controls['last_name'].hasError('required')">
        <p class="errors">Este campo es obligatorio</p>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form">
      <mat-label>Numero de telefono</mat-label>
      <input
        matInput
        formControlName="phone_number"
        placeholder="+34 123 456 789"
      />
      <mat-error *ngIf="form.controls['phone_number'].hasError('required')">
        <p class="errors">Este campo es obligatorio</p>
      </mat-error>
      <mat-error *ngIf="form.controls['phone_number'].hasError('pattern')">
        <p class="errors">El formato del numero de telefono no es correcto</p>
      </mat-error>
    </mat-form-field>
    <mat-card-actions class="button">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
        (click)="ngOnSubmit()"
      >
        Guardar cambios
      </button>
      <button mat-raised-button color="primary" (click)="changePassword()">
        Cambiar contraseña
      </button>
      <button mat-raised-button color="primary" type="submit" (click)="back()">
        Volver
      </button>
    </mat-card-actions>
  </form>
</mat-card-content>
